.cart-dropdown-container {
  position: absolute;
  width: 17rem;
  height: 22rem;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: #ffffff;
  top: 115px;
  z-index: 10;
  right: 47px;

  .empty-message {
    font-size: 1em;
    margin: auto;
  }

  .cart-items {
    height: 17rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  button {
    margin-top: auto;
    span {
      padding-left: 20px;
    }
  }
  button:disabled,
  button[disabled] {
    border: none;
    background-color: #cccccc4f;
    color: #666666ec;
    cursor: not-allowed;
  }
}
