.products-category-container {
  transform: translateY(100px);

  .title {
    margin: auto;
    width: fit-content;
    letter-spacing: 4px;
    font-weight: 900;
  }
  .products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 30px;
  }
}
