.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 0 1rem 0 13rem;
  .btn-flex {
    display: flex;
    justify-content: space-between;
  }
  h2 {
    margin: 10px 0;
  }
}
